services:
  jellyfin:
    image: jellyfin/jellyfin:2025070705
    container_name: jellyfin
    restart: unless-stopped
    network_mode: host
    user: "${JELLYFIN_UID}:${JELLYFIN_GID}"
    volumes:
      - "${JELLYFIN_VOLUME_CONFIG}:/config"
      - "${JELLYFIN_VOLUME_CACHE}:/cache"
      - "${JELLYFIN_VOLUME_MEDIA}:/media"
      - ./containers/jellyfin/streams.m3u:/media/streams.m3u:ro
    environment:
      - TZ=America/Chicago
  mtx:
    build:
      context: ./containers/mtx
      dockerfile: Dockerfile
    container_name: mtx
    ports:
      - "${MTX_PORT_RTSP:-8554}:8554"   # RTSP Proxy
      - "${MTX_PORT_HLS:-8888}:8888"   # HLS HTTP
    volumes:
      - ./containers/mtx/mediamtx.yml:/mediamtx.yml:ro
      - ./containers/mtx/assets:/assets:ro
      - ./containers/mtx/scripts:/scripts:ro
      - ./containers/mtx/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:ro
    restart: unless-stopped
    environment:
      - SC_CAMERA001_RTSP_URL=${SC_CAMERA001_RTSP_URL}
  steam:
    image: ghcr.io/steam-stream/steam-stream:stable
    container_name: steam
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${STEAM_VOLUME_DATA}:/home/steam
      - ${STEAM_VOLUME_LIBRARY}:/mnt/games
      # - /run/udev:/run/udev:ro
    shm_size: "8g"
    environment:
      - TZ=America/Chicago
      - UID=1000
      - GID=1000
      - RESOLUTION=1920x1080
      - REFRESHRATE=60
      - STEAM_USERNAME=${STEAM_USERNAME}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]