services:
  jellyfin:
    image: jellyfin/jellyfin:2025070705
    container_name: jellyfin
    restart: unless-stopped
    network_mode: host
    user: "${JELLYFIN_UID}:${JELLYFIN_GID}"
    volumes:
      - "${JELLYFIN_VOLUME_CONFIG}:/config"
      - "${JELLYFIN_VOLUME_CACHE}:/cache"
      - "${JELLYFIN_VOLUME_MEDIA}:/media"
      - ./containers/jellyfin/streams.m3u:/media/streams.m3u:ro
    environment:
      - TZ=America/Chicago
  mtx:
    build:
      context: ./containers/mtx
      dockerfile: Dockerfile
    container_name: mtx
    ports:
      - "${MTX_PORT_RTSP:-8554}:8554"   # RTSP Proxy
      - "${MTX_PORT_HLS:-8888}:8888"   # HLS HTTP
    volumes:
      - ./containers/mtx/mediamtx.yml:/mediamtx.yml:ro
      - ./containers/mtx/assets:/assets:ro
      - ./containers/mtx/scripts:/scripts:ro
      - ./containers/mtx/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:ro
    restart: unless-stopped
    environment:
      - SC_CAMERA001_RTSP_URL=${SC_CAMERA001_RTSP_URL}
  steam:
    image: ghcr.io/steam-headless/steam-headless:stable
    container_name: steam
    restart: unless-stopped
    network_mode: host
    privileged: true
    devices:
      - /dev/dri
      - /dev/snd
    volumes:
      - ${STEAM_VOLUME_HOME}:/home/default/:rw
      - ${STEAM_VOLUME_LIBRARY}:/mnt/games/:rw
    shm_size: "8G"
    environment:
      - TZ=America/Chicago
      - UID=1000
      - GID=1000
      - RESOLUTION=1920x1080
      - REFRESHRATE=60
      - ENABLE_FLATPAK=false
      - ENABLE_SUNSHINE=false
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=graphics,video,utility,display,compute,compat32
      - WEB_UI_MODE=vnc
    runtime: nvidia
